services:
  - type: web
    name: smartfit-api
    env: java
    plan: free
    buildCommand: ./mvnw clean package
    startCommand: java -jar target/SmartFitTracker-0.0.1-SNAPSHOT.jar
    healthCheckPath: /api/workouts
    envVars:
      - key: SERVER_PORT
        value: 8080
      - key: MONGO_DB_URI
        sync: false
